/* [project]/app/(components)/page.css [app-client] (css) */
header {
  padding: 0 var(--big-indent);
  height: calc(100lvh - var(--nav-height) * 1.5);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

header .info {
  width: 550px;
  height: 455px;
}

header .info p {
  font-family: var(--font-body);
  color: var(--text-muted);
}

header .info h1 {
  font-size: 3.7rem;
  font-family: var(--font-logo);
}

header .info h4 {
  font-size: 1.6rem;
  font-family: var(--font-heading);
}

header .info div {
  font-family: var(--font-body);
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  margin: 12px 0 0;
  display: flex;
}

header .info div a svg {
  font-size: 1.6rem;
}

header .info div a span {
  font-size: 1rem;
}

header .info div a {
  background-color: var(--bg-dark);
  border: 1px solid var(--border);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  text-decoration: none;
  display: flex;
}

header .info div a:hover {
  box-shadow: var(--small-shadow);
}

header .info h1, header .info h4 {
  color: var(--text);
  margin: -6px 0 0;
}

header .info span {
  color: var(--primary);
}

header .image-container img {
  object-fit: cover;
}

header .image-container {
  width: 350px;
  height: 535px;
  position: relative;
}

.section-container .box-container {
  padding: var(--big-padding);
  gap: var(--big-padding);
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.section-container .box {
  background-color: var(--bg-dark);
  width: 300px;
  height: 400px;
  padding: var(--medium-padding);
  box-shadow: var(--small-shadow);
  border-radius: 12px;
  font-weight: 600;
  transition: all .2s;
}

.section-container .box:hover {
  box-shadow: var(--medium-shadow);
}

.section-container .box:hover span {
  color: var(--text);
}

.section-container .box .image-container {
  width: calc(300px - var(--medium-padding) - var(--medium-padding));
  height: calc(350px - var(--medium-padding));
  border-radius: 6px;
  margin: 0 0 16px;
  position: relative;
  overflow: hidden;
}

.section-container .box span {
  text-align: center;
  width: 100%;
  font-family: var(--font-body);
  color: var(--text-muted);
  display: block;
}

.pastery-section {
  padding: 0 var(--big-indent);
}

.pastery-section .box-container {
  justify-content: space-between;
  margin: 16px 0 0;
  display: flex;
}

.pastery-section .box-container .info {
  width: 350px;
  padding: var(--medium-padding);
}

.pastery-section .box-container p {
  font-family: var(--font-body);
  color: var(--text-muted);
  margin: 0 0 16px;
  font-weight: 600;
}

.pastery-section .box-container a {
  color: var(--secondary);
  font-family: var(--font-body);
  background-color: var(--bg-light);
  padding: 8px var(--big-padding);
  border: 1px solid var(--border-muted);
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
}

.pastery-section .box-container h1 span {
  color: var(--primary);
}

.pastery-section .box-container h1 {
  font-weight: 800;
  font-family: var(--font-heading);
  margin: 0 0 16px;
}

.pastery-section .box-container .image-container {
  border-radius: 8px;
  width: 350px;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.section-reviews {
  padding: 0 var(--big-indent);
  margin: 0 0 12px;
}

.section-reviews .box-container {
  justify-content: space-between;
  margin: 12px 0 0;
  display: flex;
}

.section-reviews .box {
  box-shadow: var(--small-shadow);
  padding: var(--medium-padding);
  background-color: var(--bg-light);
  align-items: space-between;
  border-radius: 12px;
  flex-direction: column;
  width: 350px;
  min-height: 125px;
  display: flex;
}

.section-reviews .box p {
  font-family: var(--font-body);
  color: var(--text-muted);
}

.section-reviews .box svg {
  width: 25px;
  height: 25px;
}

footer {
  background-color: var(--bg-light);
  padding: var(--small-padding) var(--big-indent);
  justify-content: space-between;
  margin: 24px 0 0;
  display: flex;
}

footer .image-container {
  width: 150px;
  height: 150px;
  position: relative;
}

footer .links {
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  display: flex;
}

footer .links li {
  align-items: center;
  gap: 6px;
  display: flex;
}

footer .links a {
  align-items: center;
  gap: 6px;
  margin: 0 0 12px;
  text-decoration: none;
  display: flex;
}

footer .links svg {
  font-size: 1.4rem;
}

footer .links span {
  font-family: var(--font-body);
  color: var(--text);
  font-weight: 600;
}

footer .about {
  align-items: center;
  display: flex;
}

footer .about a {
  color: var(--text);
  font-family: var(--font-body);
  font-weight: 700;
  text-decoration: none;
}

/*# sourceMappingURL=app_%28components%29_page_0.qn-0a.css.map*/