* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colours */
  --bg-dark: hsl(2 19% 90%);
  --bg: hsl(2 42% 96%);
  --bg-light: hsl(2 100% 100%);
  --text: hsl(0 41% 5%);
  --text-muted: hsl(2 10% 29%);
  --highlight: hsl(2 100% 100%);
  --border: hsl(2 7% 52%);
  --border-muted: hsl(2 9% 63%);
  --primary: hsl(357 44% 32%);
  --secondary: hsl(183 100% 9%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);

  /* Dimensions */
  --nav-width: 100lvw;
  --nav-height: 55px;
  --big-indent: 100px;
  --big-padding: 24px;
  --medium-padding: 16px;
  --small-padding: 8px;

  /* Decoration */
  --small-shadow:
    inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;
  --medim-shadow:
    inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 2px 4px #00000015;
}

body {
  background-color: var(--bg-dark);
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-color: var(--border-muted);
  opacity: 0.4;

  background-image:
    radial-gradient(
      circle farthest-side at 0% 50%,
      var(--border-muted) 23.5%,
      transparent 0
    ),
    radial-gradient(
      circle farthest-side at 0% 50%,
      var(--border) 24%,
      transparent 0
    ),
    linear-gradient(
      var(--border-muted) 14%,
      transparent 0,
      transparent 85%,
      var(--border-muted) 0
    ),
    linear-gradient(
      150deg,
      var(--border-muted) 24%,
      var(--border) 0 26%,
      transparent 0 74%,
      var(--border) 0 76%,
      var(--border-muted) 0
    ),
    linear-gradient(
      30deg,
      var(--border-muted) 24%,
      var(--border) 0 26%,
      transparent 0 74%,
      var(--border) 0 76%,
      var(--border-muted) 0
    ),
    linear-gradient(
      90deg,
      var(--border) 1.6%,
      var(--border-muted) 0 98.4%,
      var(--border) 0
    );

  background-position:
    20px 30px,
    19px 30px,
    0 0,
    0 0,
    0 0,
    0 0;
  background-size: 39px 59px;
}

section > h1 {
  font-family: var(--font-heading);
  color: var(--text);
  text-align: center;
}
section > p {
  text-align: center;
  font-family: var(--font-body);
  color: var(--text-muted);
  font-size: 1.2rem;
}
section span {
  color: var(--primary);
  font-weight: 800;
}
